<div class="col-lg-12"></div>
<div class="col-lg-12 blockHeader">ATM App</div>


<div *ngIf = "TwoThousandNote == 0 && FiveHundredNote == 0 && TwoHundredNote == 0 && TwoHundredNote == 0" class="col-lg-12">
    <h2 style="text-align: center;">
  <strong> Insufficient funds in ATM!</strong>
    </h2>
</div>





<div *ngIf = "TwoThousandNote !=0 || FiveHundredNote != 0 || TwoHundredNote != 0 || TwoHundredNote != 0" class="col-lg-12" class="col-lg-12">
<div class="col-lg-12" *ngIf="transactionDetails && transactionDetails._id">
  <br>
  <h3 style="text-align: center;">
    <strong> Current Balance</strong> : {{transactionDetails.currentAmount}}</h3>

    <hr>
  <div class="col-lg-8"  style="text-align: center;">
     
    <div class="row">
      <div class="col-sm-3">
        <strong>Notes:</strong>
      </div>
      <div class="col-sm-3">
        Count:
      </div>
    </div>
    <div *ngIf="TwoThousandNote != 0" class="row">
      <div class="col-sm-3">
        <strong>2000 :</strong>
      </div>
      <div class="col-sm-3">
        {{TwoThousandNote}}
      </div>
    </div>
    <div *ngIf="FiveHundredNote != 0" class="row">
      <div class="col-sm-3">
        <strong>500 : </strong>
      </div>
      <div class="col-sm-3">
        {{FiveHundredNote}}
      </div>
    </div>
    <div *ngIf="TwoHundredNote != 0" class="row">
      <div class="col-sm-3">
        <strong>200 :</strong>
      </div>
      <div class="col-sm-3">
        {{TwoHundredNote}}
      </div>
    </div>
    <div *ngIf="OneHundredNote != 0" class="row">
      <div class="col-sm-3">
        <strong>100 : </strong>
      </div>
      <div class="col-sm-3">
        {{OneHundredNote}}
      </div>
    </div>
  </div>
</div>
</div>


<a href="#" class="btn btn-info">Exit</a>